body {
    background-color:#777;
    color: #777;
    font-family: Arial', 'Helvetica', Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
    padding: 80px;
    margin-top:-70px;
}

header {
  background-color:#ebebeb;  
  color: #777;
  padding: 30px;
  text-align: center;
  margin-bottom: 10px;
}

#nav {
  background-color:#ebebeb;
  color: #777;  
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
}

#section {
    background-color:#ebebeb; 
    color: #777;
    text-align: center;
    width: 495px; 
    height: 230px;
    position: absolute;
    float: left;
    width: 52%;
    border: 10px;
    padding: 10px;
}

#aside {
    background-color:#ebebeb; 
    color: #777;
    text-align: center;
    width: 490px;
    height: 250px;
    position: relative;
    float: right;
    width: 41%;
    border: 10px;
    margin-bottom: 20px;
    margin-left: 30px;

}

#article {
    background-color: #777;
    color: #ebebeb;
    text-align: center;
    width: 480px;
    float: left;
    height: 150px;
    position: absolute;
    z-index: 50%;
    margin-top: 60px;
    margin-left: 10px;
    margin-bottom: 100px;
    padding: 15px;
}

#headers {
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    font-weight: bold;
    width: 450px;
    float: left;
    padding: 15px;
    position: absolute;
    z-index: 70%;
    margin-top: 110px;
    margin-left: 20px;
    margin-right: 20px;
}

#p {
    background-color: #ebebeb;
    color: #777; 
    text-align: center;
    width: 450px;
    float: left;
    padding: 15px;
    position: absolute;
    z-index: 70%;
    margin-top: 170px;
    margin-left: 20px;
}

footer {
    background-color:#ebebeb;
    text-align: center;  
    padding: 30px;
    margin-top: 10px;
    clear: both;
    overflow: auto;
}